<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5">
            <div class="login-card">
                <div class="login-card__body">
                    <h5 class="login-card__title text-center mt-0">Sign In</h5>
                    <form class="login-card__form-signin" [formGroup]="formUser" (ngSubmit)="signIn()">
                        <div class="form-group login-card__form-label-group">
                            <input type="text" id="inputLogin" name="login" class="form-control" formControlName="login"
                                placeholder="Login" required autofocus>
                        </div>

                        <div class="form-group login-card__form-label-group">
                            <input type="password" id="inputPassword" name="password" class="form-control"
                                formControlName="password" placeholder="Password" required>
                        </div>

                        <div class="login-card__checkbox">
                            <input type="checkbox" id="inputRemember" class="form-control">
                            <label for="inputRemember">Remember Me</label>
                        </div>
                        <button class="btn btn-lg btn-primary text-uppercase my-3" type="submit">Sign in</button>
                        <button class="btn btn-lg btn-secondary text-uppercase" type="button"
                            routerLink="/register">Create New Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>